<a href="https://colab.research.google.com/github/cantaruttim/Learning_PySpark/blob/main/Spark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.4.1.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.1-py2.py3-none-any.whl size=311285397 sha256=de4728a2ca9842132eb01cd64f38228b1c4db449f6579e620fe1324d6cab6220
  Stored in directory: /root/.cache/pip/wheels/0d/77/a3/ff2f74cc9ab41f8f594dabf0579c2a7c6de920d584206e0834
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.1

In [7]:
import pyspark
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv("/content/rlEstabComplementar202306.csv", sep=';', encoding='latin1')
df

,CO_UNIDADE,CO_LEITO,CO_TIPO_LEITO,TP_ALTACOMP,QT_EXIST,QT_CONTR,QT_SUS,"TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')",CO_USUARIO,"TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')"
0,2610000000000,36,2,NaN,1,NaN,0,07/06/2023,MAELI,25/08/2021
1,3200000000000,92,3,NaN,20,NaN,15,03/05/2023,PENHA,25/08/2021
2,2910000000000,7,7,NaN,16,NaN,16,06/07/2023,MESTRE,01/06/2022
3,5000000000000,13,1,NaN,4,NaN,0,10/06/2022,HENRIQUE,07/04/2022
4,2410000000000,45,5,NaN,2,NaN,2,26/06/2023,SMSRS,25/08/2021
...,...,...,...,...,...,...,...,...,...,...
58650,2910000000000,6,1,NaN,10,NaN,10,09/06/2023,SETIC,23/06/2023
58651,5110000000000,47,6,NaN,1,NaN,1,19/06/2023,SCNES,23/06/2023
58652,5200000000000,47,6,NaN,108,NaN,108,21/06/2023,MESTRE,23/06/2023
58653,3300000000000,47,6,NaN,44,NaN,0,19/06/2023,ANDREANDRADE,23/06/2023
58654,3310000000000,34,6,NaN,40,NaN,0,21/06/2023,CNES,23/06/2023

In [13]:
from pyspark.sql import SparkSession

In [14]:
spark = SparkSession.builder.appName('Practise').getOrCreate()
spark

In [33]:
# df_spark = spark.read.csv('rlEstabComplementar202306.csv', sep=';')
# df_spark.show()

In [36]:
df_spark2 = spark.read.option('header','true').csv('rlEstabComplementar202306.csv', sep=';')

In [37]:
type(df_spark2)

pyspark.sql.dataframe.DataFrame

In [38]:
df_spark2.head(5)

[Row(CO_UNIDADE='2610000000000', CO_LEITO='36', CO_TIPO_LEITO='2', TP_ALTACOMP=None, QT_EXIST='1', QT_CONTR=None, QT_SUS='0', TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')='07/06/2023', CO_USUARIO='MAELI', TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')='25/08/2021'),
 Row(CO_UNIDADE='3200000000000', CO_LEITO='92', CO_TIPO_LEITO='3', TP_ALTACOMP=None, QT_EXIST='20', QT_CONTR=None, QT_SUS='15', TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')='03/05/2023', CO_USUARIO='PENHA', TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')='25/08/2021'),
 Row(CO_UNIDADE='2910000000000', CO_LEITO='7', CO_TIPO_LEITO='7', TP_ALTACOMP=None, QT_EXIST='16', QT_CONTR=None, QT_SUS='16', TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')='06/07/2023', CO_USUARIO='MESTRE', TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')='01/06/2022'),
 Row(CO_UNIDADE='5000000000000', CO_LEITO='13', CO_TIPO_LEITO='1', TP_ALTACOMP=None, QT_EXIST='4', QT_CONTR=None, QT_SUS='0', TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')='10/06/2022', CO_USUARIO='HENRIQUE', TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')='07/04/2022'),
 Row(CO_UNIDADE='2410000000000', CO_LEITO='45', CO_TIPO_LEITO='5', TP_ALTACOMP=None, QT_EXIST='2', QT_CONTR=None, QT_SUS='2', TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY')='26/06/2023', CO_USUARIO='SMSRS', TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY')='25/08/2021')]

In [39]:
df_spark2.printSchema()

root
 |-- CO_UNIDADE: string (nullable = true)
 |-- CO_LEITO: string (nullable = true)
 |-- CO_TIPO_LEITO: string (nullable = true)
 |-- TP_ALTACOMP: string (nullable = true)
 |-- QT_EXIST: string (nullable = true)
 |-- QT_CONTR: string (nullable = true)
 |-- QT_SUS: string (nullable = true)
 |-- TO_CHAR(DT_ATUALIZACAO,'DD/MM/YYYY'): string (nullable = true)
 |-- CO_USUARIO: string (nullable = true)
 |-- TO_CHAR(DT_ATUALIZACAO_ORIGEM,'DD/MM/YYYY'): string (nullable = true)